body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	margin: 50px;
	border-radius: 50%;
}

h2 {
	text-align: center;
}

p {
	text-indent: 40px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	font: inherit;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #739e0c;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: #496704;
}

.button:active {
   
}

.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.main-header,
.work {
	background: #f8ffe8; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f8ffe8 50%, #e3f5ab 100%, #b7df2d 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #f8ffe8 50%,#e3f5ab 100%,#b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #f8ffe8 50%,#e3f5ab 100%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.main-navigation {
	display: flex;
	justify-content: center;

}

.main-navigation-list{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 600px;
	margin-bottom: 40px;
	margin-top: 40px;
}

.main-navigation-list a {
	font-weight: 700;
	color: #739e0c;
	text-transform: uppercase;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
    color: #830A56;
}

.main-navigation-list a:active {
    opacity: 0.5;
}

.about_me {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

.left-container {
	width: 200%;
	text-align: center;
}

.education {
	padding-bottom: 70px;
	padding-top: 50px;
}

.first-column {
	width: 150px;
}

.work {
	padding: 50px;
}

.biography {
	padding-top: 50px;
	padding-bottom: 50px;
}

.img-university {
	float: left;
}

.img-army {
	float: right;
}

.img-work {
	float: left;
}

.img-children {
	float: right;
}

.main-footer {
	background-color: #739e0c;
	color: #ffffff;
	font-weight: 700;
	padding: 50px 0;
}

.footer-container {
	display: flex;
	justify-content: space-between;
    width: 600px;
}

.footer-tel,
.footer-mail {
	color: #ffffff;
}

.footer-tel:hover,
.footer-mail:hover,
.footer-tel:focus,
.footer-mail:focus {
	color: #597da3;
}

.social-button:hover path,
.social-button:focus path {
	fill: #597da3;
}

#toTop {
    width:100px;
    border:2px solid #fff;
    border-radius: 5px;
    background:rgba(114,158,12,0.5);
    text-align:center;
    padding: 0.5em 15px;
    position:fixed;
    bottom:2em;
    right:30px;
    cursor:pointer;
    display:none;
    color:#fff;
    font-size:1em;
}

#toTop:hover {
    background:rgba(114,158,12,0.9);
}

.phone-number {
	display: none;
	color: #739e0c;
	font-size: 24px;
	font-weight: 700;
}

/*   Медиазапросы  */
/*   1024px   */

@media screen and (max-width:1024px), only screen and (max-device-width:1024px)
{

.container {
	width: 940px; 
}

.footer-container {	
    width: 600px;
}

}

/*   854px   */

@media screen and (max-width:854px), only screen and (max-device-width:854px)
{
.container {
	width: 770px; 
}

.left-container {
    width: 2500px;
}

.footer-container {	
    width: 500px;
}

}

/*   800px   */

@media screen and (max-width:800px), only screen and (max-device-width:800px)
{
.container {
	width: 710px; 
}

.left-container {
    width: 3500px;
}

.footer-container {	
    width: 500px;
}

}

/*   768px   */

@media screen and (max-width:768px), only screen and (max-device-width:768px)
{

.container {
	width: 680px; 
}

.footer-container {	
    width: 500px;
}

}

/*   640px   */

@media screen and (max-width:640px), only screen and (max-device-width:640px)
{

.container {
	width: 600px; 
}

.about_me {
	flex-direction: column;
}

.left-container {
    width: 600px;
}

.footer-container {	
    width: 500px;
}

.main-navigation-list{
	width: 500px;
}
}

/*   600px   */

@media screen and (max-width:600px), only screen and (max-device-width:600px)
{
.container {
	width: 510px; 
}

.left-container {
    width: 510px;
}

.footer-container {	
    width: 510px;
}

.main-navigation-list{
	width: 510px;
}

.about_me {
	padding-bottom: 0px;
}

}

/*   480px   */

@media screen and (max-width:480px), only screen and (max-device-width:480px)
{
.container {
	width: 390px; 
}

.left-container {
    width: 390px;
    margin-bottom: 50px;
}

.footer-container {	
    width: 420px;
    flex-direction: column;
    align-items: center;
}

.main-navigation-list{
	width: 420px;
	flex-direction:column;
	align-items: center;
	padding-top: 50px;
}

.main-navigation-list a {
	display: block;
	margin-bottom: 20px;
	font-size: 28px;
}

.footer-container a {
	margin-bottom: 15px;
}

.img-university {
	float: none;
}

.img-army {
	float: none;
}

.img-work {
	float: none;
}

.img-children {
	float: none;
}

.biography-container {
	text-align: center;
}

.biography-container p {
	text-align: left;
}

.main-img {
	margin: 0;
	margin-bottom: 50px;
}

}

/*   425px   */

@media screen and (max-width:425px), only screen and (max-device-width:425px)
{
.container {
	width: 340px; 
}

.left-container {
    width: 340px;
}

.footer-container {	
    width: 370px;
}

.main-navigation-list {
	width: 370px;
	
}

}

/*   375px   */

@media screen and (max-width:375px), only screen and (max-device-width:375px)
{
.container {
	width: 290px; 
}

.left-container {
    width: 290px;
}

.footer-container {	
    width: 290px;
}

.main-navigation-list{
	width: 290px;
}

img {
	margin: 30px;
}

.main-img {
	margin: 0;
	margin-bottom: 50px;
}

.first-column {
	width: 100px;
}


}

/*   360px   */

@media screen and (max-width:360px), only screen and (max-device-width:360px)
{
.container {
	width: 270px; 
}

.left-container {
    width: 270px;
}

.footer-container {	
    width: 270px;
}

.main-navigation-list{
	width: 270px;
}

}

/*   320px   */

@media screen and (max-width:320px), only screen and (max-device-width:320px)
{
.container {
	width: 235px; 
}

.left-container {
    width: 235px;
}

.footer-container {	
    width: 270px;
}

.main-navigation-list{
	width: 270px;
}

}